$sunday: #eb3228;
$saturday: #007bff;
$disable: #d8d6d5;
$hover: #ffe4b5;
.calendar {
  th, td {
    width: 10%;
    &:nth-child(1) {
      color: $sunday;
    }
    &:nth-child(7) {
      color: $saturday;
    }
    a {
      display: block;
      color: inherit;
      text-decoration: none;
      &:hover {
        background-color: $hover;
      }

      .date {
        display: block;
        min-height: 1rem;
      }
      .title {
        display: block;
        min-height: 8rem;
      }
    }
  }
  td {
    &:not(.is-active) {
      color: $disable;
    }
  }
}
