$sunday: #eb3228;
$saturday: #007bff;
$disable: #d8d6d5;
$hover: #ffe4b5;
$border: #ccc;
@media screen and (min-width: 1024px) {
  .calendar {
    $n: &;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
    &__header {
      #{$n}__cell {
        text-align: center;
        display: block;
        border-top-width: 1px;
        &:nth-child(7n + 1) {
          color: $sunday;
        }
        &:nth-child(7n) {
          color: $saturday;
        }
      }
    }
    &__body {
      #{$n}__cell {
        &:nth-child(7n + 1) {
          .calendar__cell--date {
            color: $sunday;
          }
        }
        &:nth-child(7n) {
          .calendar__cell--date {
            color: $saturday;
          }
        }
        &:not(.is-active) {
          color: $disable;
          .calendar__cell--date {
            color: $disable;
          }
          .calendar__cell--icon {
            opacity: 0.2;
          }
        }
      }
    }
    &__cell {
      $o: &;
      display: flex;
      flex-direction: row;
      flex-basis: 14%;
      border: solid $border;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 1px;
      border-bottom-width: 1px;
      &:nth-child(7n) {
        border-right-width: 0;
      }
      a {
        width: 100%;
        display: block;
        text-decoration: none;
        &:hover {
          background-color: $hover;
        }
        #{$o}--date {
          display: block;
          min-height: 1rem;
          margin-left: 3px;
        }
        #{$o}--day {
          display: none;
        }
        #{$o}--title {
          margin: 2px;
          display: block;
          min-height: 8rem;
          font-size: 0.9rem;
        }
        #{$o}--icon {
          width: 24px;
          margin: 0 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .calendar {
    $p: &;
    &__header {
      display: none;
    }
    &__body {
      border-top: 1px solid $border;
      #{$p}__cell {
        &:nth-child(7n + 1) {
          .calendar__cell--date,
          .calendar__cell--day {
            color: $sunday;
          }
        }
        &:nth-child(7n) {
          .calendar__cell--date,
          .calendar__cell--day {
            color: $saturday;
          }
        }
      }
    }
    &__cell {
      display: block;
      border-bottom: 1px solid $border;
      &:not(.is-active) {
        display: none;
      }
    }
    a {
      min-height: 3rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        background-color: $hover;
      }
      #{$p}__cell--date {
        display: block;
        width: 1.4rem;
        text-align: right;
        flex: 0 0 auto;
      }
      #{$p}__cell--day {
        display: block;
        width: 2rem;
        margin-right: 0.5rem;
      }
      #{$p}__cell--title {
        max-width: 80%;
        display: block;
        flex: 1 1 0%;
      }
      #{$p}__cell--icons {
        width: 68px;
      }
      #{$p}__cell--icon {
        width: 24px;
        margin: 5px 5px 0 5px;
      }
    }
  }
}
