$code-bg: #233;
$code-txt: #d1edff;

$inline-code-bd: #9cf;
$inline-code-bg: #dff;
$quote: #bbb;
$quote-border: #ddd;

/* Qiita */
$link: #4aac00;

.diary {
  .code {
    color: $code-txt;
    background-color: $code-bg;
    border-radius: 0 4px 4px 0;
    padding: 5px 10px;
    counter-reset: num;
    margin-left: 40px;
    &__with-order {
      position: relative;
      &:before {
        counter-increment: num;
        content: counter(num);
        position: absolute;
        margin-left: -38px;
        text-align: right;
        display: inline-block;
        width: 20px;
        margin-top: 4px;
      }
    }
    code {
      position: relative;
      &:before {
        width: 34px;
        border-radius: 4px 0 0 4px;
        background-color: $code-bg;
        content: '';
        position: absolute;
        height: 100%;
        margin-left: -46px;
        padding-top: 18px;
        margin-top: -5px;
      }
    }
  }
  .inline-code {
    display: inline-block;
    background-color: $inline-code-bg;
    border: 1px solid $inline-code-bd;
    border-radius: 4px;
    padding: 0 5px;
  }
  h1 { font-size: 1.6rem; }
  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1rem; }
  a {
    color: $link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    .inline-code {
      display: inline-block;
      background-color: $inline-code-bg;
      border: 1px solid $inline-code-bd;
      border-radius: 4px;
      padding: 0 5px;
    }
  }
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  q {
    border-left: 2px solid $quote-border;
    padding-left: 10px;
    color: $quote;
  }
}

/* safari css hack */
_::-webkit-full-page-media, _:future, :root .diary .code code:before {
  padding-top: 20px;
}

/* firefox css hack */
@-moz-document url-prefix() {
  .diary .code {
    border-radius: 4px;
    &__with-order {
      &:before {
        color: $code-bg;
      }
    }
    code:before {
      height: 0;
      padding: 0;
    }
  }
}
