$border: #ccc;
$hover: #ffe4b5;

/* Qiita */
$link: #4aac00;

.tag {
  &__header {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-right: 10px;
    }
  }
  &__article {
    border-bottom: 1px solid $border;
    &:first-child {
      border-top: 1px solid $border;
    }
    a {
      padding: 10px 0;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $hover;
      }
    }
    &--date,
    &--title {
      display: block;
    }
    &--date {
      min-width: 6.5rem;
      margin-right: 10px;
    }
    &--title {
    }
  }
  &__back {
    color: $link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
