body {
  margin: 0;
  font-family: 'Hiragino Maru Gothic ProN', 'Hiragino Maru Gothic Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  word-wrap: break-all;
}

img {
  width: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

button {
  appearance: none;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
